.cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the container take up the full viewport height */
  // height: 40vmin;
}

.cover {
  height: 80vmin;
  min-height: 550px;
  pointer-events: none;
}
