// @import "./components/Poem/Poem.scss";

// .App {
//   background-color: #fdf1ec;
// }

.active-scroll-spy {
  background-color: #fdf1ec;
  font-weight: 600;
  padding-right: 10px;
  color: black;
  opacity: 100% !important;
}

a.poem-link {
  color: black;
  // opacity: 50%;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

// // a.poem-link:hover {

// // }

.side-nav {
  white-space: nowrap;
  position: fixed;
  top: 25%;
  right: 78%;
  padding-left: 2%;
  line-height: 2.2;
  text-align: right;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
