// Define your base font size
$base-font-size: 16px;
// Define breakpoints for different screen sizes
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1200px;

// Define a mixin to adjust font size based on screen width
@mixin responsive-font-size($min-font-size, $max-font-size) {
  font-size: $min-font-size;
  
  @media screen and (min-width: $small-screen) {
    font-size: calc(#{$min-font-size} + (#{$max-font-size} - #{$min-font-size}) * (100vw - #{$small-screen}) / (#{$large-screen} - #{$small-screen}));
  }
  
  @media screen and (min-width: $medium-screen) {
    font-size: $max-font-size;
  }
}

.poem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the container take up the full viewport height */
  font-family: 'Times New Roman', serif;
  @include responsive-font-size(16px, 20px);
}

.poem-title {
  text-align: center;
  // @include responsive-font-size(16px, 20px);
}

.poem-author {
  text-align: center;
  padding-bottom: 25px;
  // @include responsive-font-size(16px, 20px);
}
// Apply the responsive font size to your text elements
.poem-text {
  text-align: left; /* Align the text on the left */
  // max-width: 600px; /* Limit the maximum width of the poem */
  
  // Other styles can be added here
}

