// // Define your base font size
// $base-font-size: 16px;
// // Define breakpoints for different screen sizes
// $small-screen: 768px;
// $medium-screen: 1024px;
// $large-screen: 1200px;
.poem-container {
  height: 100vh;
  // justify-content: center;
  // padding-left: 10%;
}
